body {
    background-color:#587BE5; border: 50px inset #0a0158;
}
table{ background-color: #a2e032;}
table:hover{background-color:#12033a;}
tr { color:#fff019;}
li {color: #290588}

#HHH{color: #0a2986;
text-align: center;
text-shadow: 4px 3px 0 #fff, 9px 8px 0 rgba(0,0,0,0.15);
}
#HHH:hover{font-size: 50px;}
#inhed {
    color: black
}
